

<%= form_tag(set_token_path, method: :post) do%>
<div class="innerLR">
  API Key (from Pushbullet > My Account): <br>
  <%= text_field_tag 'token' %>
</div>
<div class="innerT">
  <%= submit_tag "Set Token", class: "btn btn-primary btn-block" %>
</div>
<%end%>
